fastapi==0.115.6
uvicorn[standard]==0.32.1

SQLAlchemy==2.0.36
psycopg[binary]==3.2.3
alembic==1.14.0

pydantic==2.10.3
pydantic-settings==2.6.1

httpx==0.28.1
cryptography==44.0.0
python-dotenv==1.0.1
